@import 'typography';
@import 'color';
@import 'mixin';
@import 'media';

body {
  background-color: $bg;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  
  img {
    width: 100%;
    @include ease();
  }
}

.menu-content{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(29, 26, 26);
  z-index: 110;
  top: -100vh;
  @include ease();
  padding: 40px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-title{
    max-width: 250px;
    width: 60%;
    margin-bottom: 20px;
    opacity: 0.8;
  }

  .menu-text{
    width: 70%;
    max-width: 400px;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #dca47d63;
    color: $textGold;
    &:last-child{
      border: 0;
    }
    @media #{$sml}{
      padding: 15px;
      font-size: 1.25rem;
    }
  }
}

.modal-open, .menu-open{
  overflow: hidden;
}
.menu-open .menu-content{
  top: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightGray;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text-center{
  text-align: center;
}

.text-white{
  color: white !important;
}

.show-sm{
  display: none;
  line-height: 0;
  @media #{$sml}{
    display: block;
  }
}

.gold{
  color: $textGold;
}

.wrap{
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  color: #fefefe;
  .menu-btn{
    width: 78px;
    height: 78px;
    position: fixed;
    top: 33px;
    left: 33px;
    cursor: pointer;
    z-index: 111;
    background-color: #000;
    @include rounded(50%);
    
    @media #{$sml}{
      width: 45px;
      height: 45px;
      top: 20px;
      left: 20px;
    }
    &:focus{
      background-color: #333;
    }
  }
  section{
    padding: 30px 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .sec-1{
    align-items: center;
    background-image:url('../img/bg-1.png');
    background-repeat:no-repeat;
    background-color: #000;
    background-position:center center;
    width: 100%;
    height: 770px;
    background-size: cover;
    @media #{$sml}{
      height: 470px;
    }

    .logo-lg{
      width: 450px;
      margin-top: 100px;
      margin-bottom: 65px;
      @media #{$sml}{
        width: 80%;
        max-width: 320px;
        margin-top: 65px;
        margin-bottom: 30px;
      }
    }
    .title{
      font-size: 33px;
      font-weight: normal;
      line-height: 1.63;
      letter-spacing: 1.68px;
      @media #{$sml}{
        font-size: 20px;
      }
    }
  }

  .sec-2{
    padding-top: 90px;
    padding-bottom: 160px;

    @media #{$med}{
      padding-top: 60px;
      padding-bottom: 100px;
    }
    @media #{$sml}{
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;
      .date{
        margin-bottom: 20px;
      }
    }
    
    .title, .date{
      font-size: 34px;
      letter-spacing: 3px;
      @media #{$med}{
        font-size: 28px;
      }
      @media #{$sml}{
        font-size: 22px;
        line-height: 1.5;
        .text{
          margin-top: 20px;
        }
      }
      strong{
        font-size: 50px;
        color: $textGold;
        line-height: 80px;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        @media #{$med}{
          font-size: 36px;
        }
        @media #{$sml}{
          font-size: 28px;
          letter-spacing: normal;
          // margin: 0;
          line-height: 1.5;
        }
      }
    }
    .step-list{
      display: flex;
      justify-content: space-around;
      margin-top: 135px;
      
      
      .step{
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$sml}{
          width: 90%;
          margin-bottom: 0px;
        }
      }
      img{
        width: 160px;
      }
      .title{
        font-size: 27px;
        letter-spacing: 5px;
        margin-top: -5px;
      }
      .line{
        width: 50px;
        height: 4px;
        border-radius: 1px;
        background-color: #ffffff;
        margin: 20px;
      }
      .text{
        font-size: 30px;
        line-height: 1.6;
        letter-spacing: 1.5px;
      }
      @media #{$med}{
        margin-top: 40px;
        flex-wrap: wrap;
        img{
          width: 140px;
        }
        .title{
          font-size: 20px;
        }
        .text{
          font-size: 22px;
        }
      }
      @media #{$sml}{
        margin-top: 20px;
        img{
          width: 150px;
        }
        .title{
          font-size: 20px;
        }
        .text{
          font-size: 25px;
        }
      }
    }
  }

  .sec-3{
    background-image:url('../img/bg-2.png');
    background-repeat:no-repeat;
    background-color: #000;
    background-position:center center;
    height: 960px;
    width: 100%;
    padding-top: 90px;
    background-size: cover;
    @media #{$med}{
      height: 800px;
      padding-top: 80px;
    }
    @media #{$sml}{
      height: 680px;
      padding-top: 50px;
    }

    .plat-list{
      display: flex;
      justify-content: space-around;
      margin-top: 110px;
      @media #{$med}{
        margin-top: 80px;
      }
      @media #{$sml}{
        // flex-wrap: wrap;
        margin-top: 30px;
      }
      .plat{
        width: 355px;
        @media #{$med}{
          width: 250px;
        }
        @media #{$sml}{
          width: 30%;
        }
      }
    }

    .top{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      @media #{$sml}{
        flex-wrap: wrap;
      }
      .text{
        font-size: 42px;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-weight: bold;
        @media #{$sml}{
          order: 2;
          font-size: 42px;
        }
        
      }
      .logo-sm{
        width: 312px;
        margin: 0 30px;
        @media #{$sml}{
          margin-bottom: 20px;
          order: 1;
        }
      }
      @media #{$med}{
        .text{
          font-size: 32px;
          margin-bottom: 15px;
        }
        .logo-sm{
          width: 250px;
        }
      }
    }

    

  }

  .sec-4{
    padding-top: 0;
    padding-bottom: 0;
    .nav{
      position: relative;
      top: 0;
      width: 100%;
      margin-top: -100px;
      display: flex;
      justify-content: space-between;
      @media #{$sml}{
        flex-wrap: wrap;
        margin-top: -120px;
      }
      .btn{
        flex: 1;
        position: relative;
        height: 100px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        @media #{$sml}{
          flex: 20%;
          border-top: 1px solid #999;
          height: 60px;
          &:nth-child(-n+6){
            flex:16.66%;
          }
        }

        .tt{
          position: relative;
          z-index: 10;
          text-align: center;
          font-size: 22px;
          line-height: 1.8;
          pointer-events: none;
          small{
            display: block;
            font-size: 15px;
          }
          @media #{$med}{
            font-size: 18px;
            small{
              font-size: 12px;
            }
          }
          @media #{$sml}{
            font-size: 14px;
            small{
              display: none;
            }
          }
          
        }

        &::after{
          @include ease(0.1s);
          background-color: #000;
          opacity: 0.7;
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          pointer-events: none;
          z-index: 0;
        }

        &:hover{
          &::after{
            background-color: #e8a16e;
            opacity: 0.5;
          }
        }
      }
      .active{
        &::after{
          background-color: #e8a16e;
          opacity: 0.5;
        }

      }
    }
    .items{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      @media #{$sml}{
        flex-wrap: wrap;
      }
      .item{
        width: 33.33%;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .title{
          @include ease();
          position: absolute;
          font-size: 45px;
          text-align: center;
          font-weight: 500;
          opacity: 0;
          .small{
            font-size: 22px;
          }
          @media #{$sml}{
            font-size: 20px;
            line-height: 2;
            opacity: 1;
            .small{
              font-size: 14px;
            }
          }
        }
        .name{
          position: absolute;
          right: 30px;
          bottom:10px;
          line-height: 2;
          opacity: 0.7;
          @media #{$sml}{
            display: none;
          }
        }

        &:hover{
          img{
            @include scale(1.2);
          }
          .title{
            opacity: 1;
            
          }
          .name{
            display: none;
          }
        }

      }
    }

    .swiper-button-prev, .swiper-button-next{
      color: white;
      opacity: 0.75;
    }
  }

  .sec-5{
    padding-top: 75px;
    padding-bottom: 75px;

    @media #{$med}{
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media #{$sml}{
      padding-top: 40px;
      padding-bottom: 30px;
    }

    .content{
      margin: 0 auto;
      max-width: 1200px;
      position: relative;
      width: 100%;

      &>.title{
        font-size: 45px;
        line-height: 2;
        @media #{$med}{
          font-size: 36px;
        }
        @media #{$sml}{
          font-size: 24px;
          line-height: 1.5;
        }
      }
      &>.sub-title{
        font-size: 32px;
        line-height: 2;
        font-size: 28px;
        @media #{$sml}{
          font-size: 18px;
        }
      }
      .line{
        background-color: $textGold;
        height: 2px;
        width: 100%;
        margin: 10px auto;
        @media #{$sml}{
          width: 90%;
        }
      }
    }

    .note{
      width: 100%;
      padding: 40px;
      @media #{$med}{
        padding: 30px 20px;
      }
      @media #{$sml}{
        padding: 15px;
      }
      
    }
    .paragraph{
      font-size: 18px;
      line-height: 1.8;
      margin-bottom: 30px;
      text-align: justify;
      @media #{$sml}{
        font-size: 16px;
      }
      .title{
        display: inline-block;
        padding: 0 10px;
        height: 36px;
        line-height: 36px;
        background-color: $textGold;
        font-size: 20px;
        color: #000;
        font-weight: 500;
        margin-bottom: 10px;
        @media #{$sml}{
          font-size: 18px;
        }
      }
    }
    .process{
      &>.title{
        font-size: 20px;
        margin-top: 78px;
        margin-bottom: 78px;
        font-weight: bold;

        @media #{$sml}{
          margin-top: 40px;
          margin-bottom: 20px;
          font-size: 18px;
        }
      }

      .items{
        display: flex;
        justify-content: space-around;
        @media #{$sml}{
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }

      .item{
        width: 176px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media #{$sml}{
          width: 50%;
          margin-bottom: 40px;
        }

        .pic{
          @include rounded();
          overflow: hidden;
          background-color: #fff;
          width: 154px;
          height: 307px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media #{$sml}{
            order: 3;
          }
          &.empty{
            background-color: inherit;
          }
        }
        
        .app{
          width: 78px;
          @include rounded();
        }
        .num{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 47px;
          height: 47px;
          background-color: #fff;
          font-size: 28px;
          font-weight: bold;
          @include rounded(50%);
          margin: 36px auto;
          @media #{$sml}{
            order: 1;
            margin: 0 auto 10px;
          }
          
        }
        .text{
          line-height: 30px;
          font-size: 18px;
          text-align: center;
          letter-spacing: 0;
          font-weight: normal;
          @media #{$med}{
            font-size: 16px;
          }
          @media #{$sml}{
            order: 2;
            line-height: 1.5;
            margin-bottom: 15px;
          }
        }
      }

      
    }

    .box{
      margin-top: 70px;
      padding: 36px 26px;
      background-color: #e9e9e9;
      display: flex;
      align-items: center;
      color: #5d6464;
      @media #{$sml}{
        flex-wrap: wrap;
        padding: 25px;
        margin-top: 20px;
      }
      .title{
        margin-right: 26px;
        font-size: 42px;
        font-weight: bold;
        @media #{$med}{
          font-size: 32px;
        }
        @media #{$sml}{
          font-size: 30px;
          margin-bottom: 10px;
        }
      }
      .text{
        font-size: 14px;
        line-height: 1.75;
        flex: 1;
        word-wrap: break-word;
      }
    }
    .btns{
      margin-top: 38px;
      display: flex;
      @media #{$sml}{
        justify-content: space-around;
      }
      .btn{
        padding: 15px 18px;
        background-color: #666;
        font-size: 18px;
        margin-right: 30px;
        color: white;
        @include ease();
        @include rounded();
        @media #{$sml}{
          font-size: 14px;
          margin-bottom: 10px;
          padding: 15px;
          margin-right: 0;
        }
        &:hover{
          background-color: #555;
        }
      }
    }
    .notice{
      margin-top: 45px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media #{$sml}{
        margin-top: 30px;
      }
      .add{
        width: 80px;
        height: 80px;
        font-size: 52px;
        font-weight: 100;
        text-align: center;
        background-color: #fff;
        @include rounded(50%);
        color: #666;

      }
      .text{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
      }
      .download{
        height: 65px;
        line-height: 65px;
        margin: 76px 3px 0 27px;
        padding: 0px 48px;
        border-radius: 32px;
        color: white;
        background-color: #dda47d;
        font-size: 25px;
        margin-top: 70px;
        @media #{$sml}{
          font-size: 18px;
          margin-top: 40px;
        }
      }
    }
  }

  .sec-6{
    background-color: #1b1b1b;
    .content, .social{
      max-width: 1200px;
      width: 100%;
      @media #{$med}{
        padding: 0 15px;
      }
    }
    .content{
      margin: 80px auto 10px;
      display: flex;
      justify-content: space-around;
      @media #{$med}{
        margin-top: 30px;
      }
      @media #{$sml}{
        flex-wrap: wrap;
        margin-top: 0px;
      }
      
      .video{
        @include rounded(10px);
        @include ease();
        max-width: 460px;
        flex:1;
        overflow: hidden;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        cursor: pointer;
        @media #{$med}{
          margin-right: 30px;
        }
        @media #{$sml}{
          flex: 90%;
          margin-right: 0;
        }
        img.play{
          position: absolute;
          opacity: 0;
          width: 150px; 
          @media #{$sml}{
            opacity: 1;
          }
        }

        &:hover{
          opacity: 1;
          img.play{
            opacity: 0.8;
          }
        }
      }
      .cont{
        flex: 1.3;
        max-width: 600px;
        @media #{$sml}{
          flex: 80%;
          margin-top: 20px;
          flex: 1;
          padding: 10px;
        }
        .title{
          font-size: 24px;
          margin-bottom: 10px;
        }
        .sub-title{
          font-size: 16px;
          text-align: justify;
        }

        ul{
          margin-top: 30px;
          color: $textGold;
          font-size: 18px;
          margin-left: 20px;
          li{
            margin-bottom: 20px;
          }
        }
      }
    }

    .social{
      text-align: right;
      display: flex;
      justify-content: flex-end;
      margin: 0 auto; 
      .btn{
        width: 50px;
        height: 40px;
        display: flex;

        img{
          margin: auto;
          width: initial;
        }
      }
    }
    
  }

}

.modal{
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 120;
  overflow: hidden;

  .close{
    position: fixed;
    top: 0;
    right: 0;
    background: $textDark;
    color:#fff;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    z-index: 10;
  }

  .pic-list, .note, .social-btns, .store-info{
    max-width: 680px;
    margin: 0 auto;
  }

  .modal-body{
    overflow-y: auto;
    max-width: 900px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: $text;
    padding: 30px 0;
    background-color: #fff;
    position: relative;
    font-weight: 500;

    @media #{$sml}{
      padding: 30px 20px;
    }

    .store-pics{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px auto;
      .pic-list{
        position: relative;
        overflow: hidden;
      }

      .swiper-btn{
        display: flex;
        position: absolute;
        pointer-events: none;
        justify-content: space-between;
        width: 85%;
        z-index: 10;
        
        @media #{$sml}{
          display: none;
        }

      }
    }
    
  }

  .modal-title{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 2;
  }

  .modal-subtitle{
    font-size: 22px;
    line-height: 3;
    font-weight: 600;
    // border-bottom: 1px solid $text;
    // margin-bottom: 10px;
  }
  p{
    font-size: 16px;
    line-height: 1.75;
    strong{
      font-weight: bold;
      line-height: 2.5;
      background-color: $text;
      color: white;
      padding: 5px 15px;
      margin-right: 10px;
      width: 95px;
    }
  }
  ol, ul{
    margin-left: 30px;
    margin-bottom: 10px;
    li{
      line-height: 1.75;
      text-align: justify;
    }
  }

  .note{
    background-color: #5eaee3;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .social-btns{
    display: flex;
    justify-content: flex-end;
    .btn{
      margin-left: 15px;
    }
  }

  .modal-bg{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
  }
}

.btn{
  cursor: pointer;
  pointer-events: auto;
  text-decoration: initial;
  img{
    width: initial;
  }

  &:focus{
    outline: none;
  }
}

button{
  border: 0;
  @include rounded();  
}

.swiper-pagination-bullet-active{
  background-color: $dark;
}

.swiper-button-next:focus, .swiper-button-prev:focus{
  outline:0;
}
